---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 240
Cpp11BracedListStyle: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AlignConsecutiveMacros: Consecutive
AlignArrayOfStructures: Left
---
